<div class="grid lg:grid-cols-2">
  <section
    class="space-y-7 bg-[linear-gradient(135deg,rgba(20,71,230,0.85),rgba(0,0,0,0.6)),url('/images/bg.jpg')] signup-hero text-white min-h-screen bg-center bg-cover flex flex-col justify-between p-10"
  >
    <header>
      <h1 class="flex gap-3 items-center">
        <a href=""
          ><span
            class="size-12 text-lg font-bold flex justify-center items-center bg-white/40 border border-white/30 rounded-xl"
            >S</span
          ></a
        ><Span class="text-2xl font-bold">SocialHub</Span>
      </h1>
    </header>

    <div class="content space-y-10">
      <div class="space-y-4">
        <h2 class="font-bold text-4xl md:text-5xl lg:text-6xl leading-tight tracking-tight">
          Connect&nbsp;with
          <span
            class="relative bg-linear-to-r lg:block from-cyan-300 to-cyan-100 bg-clip-text text-transparent after:absolute after:inset-0 after:blur-xl after:bg-cyan-300/30 after:-z-10"
            >amazing people</span
          >
        </h2>
        <p class="max-w-md">
          Join millions of users sharing moments, ideas, and building meaningful connections every
          day
        </p>
      </div>
      <section class="">
        <ul class="feature-cards grid lg:grid-cols-2 gap-4">
          <li
            class="group flex items-center gap-2 bg-white/20 backdrop-blur-sm border border-white/30 rounded-xl px-4 py-2 transition-all duration-300 hover:-translate-y-2 hover:bg-white/30"
          >
            <div
              class="icon size-10 flex justify-center items-center rounded-xl transition-all duration-300 group-hover:scale-110 group-hover:rotate-6 bg-teal-400/20 text-green-300"
            >
              <i class="fa-solid fa-message"></i>
            </div>
            <div>
              <h4>Real-time Chat</h4>
              <span>Instant messaging</span>
            </div>
          </li>
          <li
            class="group flex items-center gap-2 bg-white/20 backdrop-blur-sm border border-white/30 rounded-xl px-4 py-2 transition-all duration-300 hover:-translate-y-2 hover:bg-white/30"
          >
            <div
              class="icon size-10 flex justify-center items-center rounded-xl bg-blue-400/20 transition-all duration-300 group-hover:scale-110 group-hover:rotate-6 text-blue-100"
            >
              <i class="fa-solid fa-image"></i>
            </div>
            <div>
              <h4>Share Media</h4>
              <span>Photos & videos</span>
            </div>
          </li>
          <li
            class="group flex items-center gap-2 bg-white/20 backdrop-blur-sm border border-white/30 rounded-xl px-4 py-2 transition-all duration-300 hover:-translate-y-2 hover:bg-white/30"
          >
            <div
              class="icon size-10 flex justify-center items-center rounded-xl transition-all duration-300 group-hover:scale-110 group-hover:rotate-6 bg-pink-400/20 text-pink-100"
            >
              <i class="fa-solid fa-bell"></i>
            </div>
            <div>
              <h4>Smart Alerts</h4>
              <span>Stay updated</span>
            </div>
          </li>

          <li
            class="group flex items-center gap-2 bg-white/20 backdrop-blur-sm border border-white/30 rounded-xl px-4 py-2 transition-all duration-300 hover:-translate-y-2 hover:bg-white/30"
          >
            <div
              class="icon size-10 flex justify-center items-center rounded-xl transition-all duration-300 group-hover:scale-110 group-hover:rotate-6 bg-teal-400/20 text-green-300"
            >
              <i class="fa-solid fa-users"></i>
            </div>
            <div>
              <h4>Communities</h4>
              <span>Find your tribe</span>
            </div>
          </li>
        </ul>
      </section>
      <section class="">
        <ul class="flex justify-between gap-5 lg:justify-start">
          <li>
            <div class="">
              <div class="flex gap-2 items-center justify-center">
                <i class="fa-solid fa-users"></i>
                <span class="text-2xl font-bold">2M+</span>
              </div>
              <p>Active Users</p>
            </div>
          </li>
          <li>
            <div>
              <div class="flex items-center justify-center gap-2">
                <i class="fa-solid fa-heart"></i> <span class="text-2xl font-bold">10M+</span>
              </div>
              <p>Posts Shared</p>
            </div>
          </li>
          <li>
            <div>
              <div class="flex gap-2 justify-center items-center">
                <i class="fa-solid fa-message"></i>
                <span class="text-2xl font-bold">50M+</span>
              </div>
              <p>Messages Sent</p>
            </div>
          </li>
        </ul>
      </section>
    </div>
    <section
      class="bg-white/20 border border-white/30 backdrop-blur-sm rounded-xl p-4 space-y-4 hover:bg-white/25 transition-colors duration-200"
    >
      <div class="flex rating-average text-yellow-300">
        <i
          class="fa-solid fa-star svg-inline--fa fa-star hover:scale-110 transition-transform duration-200"
        ></i>
        <i class="fa-solid fa-star hover:scale-110 transition-transform duration-200"></i>
        <i class="fa-solid fa-star hover:scale-110 transition-transform duration-200"></i>
        <i class="fa-solid fa-star hover:scale-110 transition-transform duration-200"></i>
        <i class="fa-solid fa-star hover:scale-110 transition-transform duration-200"></i>
      </div>
      <blockquote class="text-lg italic">
        <p>
          "SocialHub has completely changed how I connect with friends and discover new communities.
          The experience is seamless!"
        </p>
      </blockquote>
      <figcaption class="author flex items-center gap-3">
        <img src="/images/avatar-2-CwUcGkzI.jpg" alt="" class="size-12 rounded-full" />
        <div class="info flex flex-col">
          <cite>Alex Johnson</cite>
          <span class="text-sm text-gray-300">Product Designer</span>
        </div>
      </figcaption>
    </section>
  </section>
  <section
    class="login-form bg-gray-100 py-12 min-h-screen flex justify-center items-center w-full"
  >
    <div class="w-full max-w-[550px]">
      <router-outlet></router-outlet>
    </div>
  </section>
</div>
