<div class="grid grid-cols-2 gap-2">
  <button
    routerLinkActive="bg-white text-mainColor"
    class="flex items-center justify-center gap-2 rounded-xl px-3 py-2 text-sm font-bold transition bg-slate-50 text-slate-700 hover:bg-slate-100"
  >
    <i class="fa-solid fa-newspaper"></i>
    Feed
  </button>
  <button
    routerLink="/my-posts"
    routerLinkActive="bg-white text-mainColor"
    class="flex items-center justify-center gap-2 rounded-xl px-3 py-2 text-sm font-bold transition bg-slate-50 text-slate-700 hover:bg-slate-100"
  >
    <i class="fa-solid fa-wand-sparkles"></i> My Posts
  </button>
  <button
    routerLinkActive="bg-white text-mainColor"
    class="flex items-center justify-center gap-2 rounded-xl px-3 py-2 text-sm font-bold transition bg-slate-50 text-slate-700 hover:bg-slate-100"
  >
    <i class="fa-solid fa-earth-americas"></i>
    Community
  </button>
  <button
    routerLinkActive="bg-white text-mainColor"
    class="flex items-center justify-center gap-2 rounded-xl px-3 py-2 text-sm font-bold transition bg-slate-50 text-slate-700 hover:bg-slate-100"
  >
    <i class="fa-regular fa-bookmark"></i>
    Saved
  </button>
</div>
