<section
  class="login-container mx-auto max-w-2xl overflow-hidden bg-white animate-fadeUp relative mt-24 rounded-2xl border border-slate-200 shadow-sm"
>
  <header
    class="relative border-b border-gray-100 bg-slate-50/80 text-center transition-all duration-500 p-10"
  >
    <div class="mb-5 flex items-center gap-3">
      <span
        class="brand-icon inline-flex h-12 w-12 items-center justify-center rounded-full bg-[#e7f3ff] text-[#1877f2]"
      >
        <i class="fa-solid fa-key text-xl -rotate-12 transition-all duration-500"></i>
      </span>

      <div class="flex flex-col items-start">
        <h1 class="text-xl font-extrabold text-slate-900 sm:text-2xl">Change Password</h1>
        <p class="text-sm text-slate-500">Keep your account secure by using a strong password.</p>
      </div>
    </div>

    <div
      class="brand-line absolute -bottom-px left-1/2 h-1 w-16 -translate-x-1/2 rounded-full bg-blue-600 transition-all duration-500 ease-in-out"
    ></div>
  </header>

  <div class="p-10 relative">
    @if (msgError) {
      <div
        class="absolute -top-9 left-10 right-10 z-50 flex items-center p-4 text-red-800 border-l-4 border-red-500 bg-white shadow-2xl rounded-r-xl animate-slideDown border"
      >
        <div class="shrink-0">
          <i class="fa-solid fa-circle-xmark text-red-500 text-lg mr-3"></i>
        </div>
        <div class="flex-1 text-xs font-bold leading-tight">
          {{ msgError }}
        </div>
        <button
          (click)="msgError = ''"
          type="button"
          class="ml-auto p-1.5 text-red-500 hover:bg-red-50 rounded-lg transition-all"
        >
          <i class="fa-solid fa-xmark text-sm"></i>
        </button>
      </div>
    }

    <form [formGroup]="changeForm" (ngSubmit)="submitForm()" class="space-y-5">
      <div class="relative group">
        <input
          #pass
          formControlName="currentPass"
          type="password"
          id="currentPass"
          placeholder=" "
          class="peer w-full pl-11 px-4 pt-6 pb-2 text-sm text-slate-800 bg-slate-50 rounded-xl border border-gray-200 hover:border-blue-300 focus:ring-4 focus:ring-blue-500/10 focus:outline-none transition-all"
        />
        <label
          for="currentPass"
          class="absolute left-11 top-2 text-gray-400 text-sm transition-all peer-placeholder-shown:top-4 peer-placeholder-shown:text-base peer-focus:top-2 peer-focus:text-xs peer-focus:text-blue-600"
        >
          Current password
        </label>
        <span
          (click)="showPassword(pass)"
          class="absolute top-1/2 inset-e-4 cursor-pointer -translate-y-1/2"
          ><i [class]="pass.type === 'currentPass' ? 'fa-eye-slash' : 'fa-eye'" class="fa"></i
        ></span>
        <i
          class="fa-solid fa-key absolute left-4 top-1/2 -translate-y-1/2 text-gray-400 peer-focus:text-blue-600 transition-colors"
        ></i>
      </div>
      @if (changeForm.get('currentPass')?.invalid && changeForm.get('currentPass')?.touched) {
        <div class="flex items-center gap-1 mt-1 ml-2 text-red-500 animate-fadeInUp">
          <i class="fa-solid fa-circle-exclamation text-2xs"></i>
          <span class="text-[11px] font-medium">
            @if (changeForm.get('currentPass')?.hasError('required')) {
              Password is required.
            } @else if (changeForm.get('currentPass')?.hasError('pattern')) {
              Must contain at least 8 chars, 1 uppercase, 1 lowercase, 1 number, and 1 special
            }
          </span>
        </div>
      }
      <div class="relative group">
        <input
          #pass
          formControlName="newPass"
          type="password"
          id="newPass"
          placeholder=" "
          class="peer w-full pl-11 px-4 pt-6 pb-2 text-sm text-slate-800 bg-slate-50 rounded-xl border border-gray-200 hover:border-blue-300 focus:ring-4 focus:ring-blue-500/10 focus:outline-none transition-all"
        />
        <label
          for="newPass"
          class="absolute left-11 top-2 text-gray-400 text-sm transition-all peer-placeholder-shown:top-4 peer-placeholder-shown:text-base peer-focus:top-2 peer-focus:text-xs peer-focus:text-blue-600"
        >
          New password
        </label>
        <span
          (click)="showPassword(pass)"
          class="absolute top-1/2 inset-e-4 cursor-pointer -translate-y-1/2"
          ><i [class]="pass.type === 'newPass' ? 'fa-eye-slash' : 'fa-eye'" class="fa"></i
        ></span>
        <i
          class="fa-solid fa-key absolute left-4 top-1/2 -translate-y-1/2 text-gray-400 peer-focus:text-blue-600 transition-colors"
        ></i>
      </div>
      @if (changeForm.get('newPass')?.invalid && changeForm.get('newPass')?.touched) {
        <div class="flex items-center gap-1 mt-1 ml-2 text-red-500 animate-fadeInUp">
          <i class="fa-solid fa-circle-exclamation text-2xs"></i>
          <span class="text-[11px] font-medium">
            @if (changeForm.get('newPass')?.hasError('required')) {
              Password is required.
            } @else if (changeForm.get('newPass')?.hasError('pattern')) {
              Must contain at least 8 chars, 1 uppercase, 1 lowercase, 1 number, and 1 special
            }
          </span>
        </div>
      }
      <div class="relative group">
        <input
          #pass
          formControlName="updatePass"
          type="password"
          id="updatePass"
          placeholder=" "
          class="peer w-full pl-11 px-4 pt-6 pb-2 text-sm text-slate-800 bg-slate-50 rounded-xl border border-gray-200 hover:border-blue-300 focus:ring-4 focus:ring-blue-500/10 focus:outline-none transition-all"
        />
        <label
          for="updatePass"
          class="absolute left-11 top-2 text-gray-400 text-sm transition-all peer-placeholder-shown:top-4 peer-placeholder-shown:text-base peer-focus:top-2 peer-focus:text-xs peer-focus:text-blue-600"
        >
          Update password
        </label>
        <span
          (click)="showPassword(pass)"
          class="absolute top-1/2 inset-e-4 cursor-pointer -translate-y-1/2"
          ><i [class]="pass.type === 'updatePass' ? 'fa-eye-slash' : 'fa-eye'" class="fa"></i
        ></span>
        <i
          class="fa-solid fa-key absolute left-4 top-1/2 -translate-y-1/2 text-gray-400 peer-focus:text-blue-600 transition-colors"
        ></i>
      </div>
      @if (changeForm.get('updatePass')?.invalid && changeForm.get('updatePass')?.touched) {
        <div class="flex items-center gap-1 mt-1 ml-2 text-red-500 animate-fadeInUp">
          <i class="fa-solid fa-circle-exclamation text-2xs"></i>
          <span class="text-[11px] font-medium">
            @if (changeForm.get('updatePass')?.hasError('required')) {
              Password is required.
            } @else if (changeForm.get('updatePass')?.hasError('pattern')) {
              Must contain at least 8 chars, 1 uppercase, 1 lowercase, 1 number, and 1 special
            }
          </span>
        </div>
      }
      <button
        [disabled]="changeForm.invalid || loading"
        class="inline-flex w-full items-center justify-center rounded-xl bg-[#1877f2] px-4 py-2.5 text-sm font-bold text-white transition hover:bg-[#166fe5] disabled:cursor-not-allowed disabled:opacity-60"
      >
        Update password
        @if (loading) {
          <span class="fas fa-spinner animate-spin"></span>
        }
      </button>
    </form>

    @if (isSuccess) {
      <div
        class="fixed top-6 right-6 z-100 flex items-center w-full max-w-xs p-4 bg-white rounded-2xl shadow-[0_20px_50px_rgba(0,0,0,0.15)] border-l-4 border-green-500 animate-slideInRight"
      >
        <div
          class="inline-flex items-center justify-center shrink-0 w-10 h-10 text-green-500 bg-green-50 rounded-xl"
        >
          <i class="fa-solid fa-circle-check text-xl"></i>
        </div>

        <div class="ms-3">
          <p class="text-sm font-bold text-slate-900 leading-none">Success!</p>
          <p class="text-[11px] text-slate-500 mt-1">Your account is ready to go.</p>
        </div>

        <button
          type="button"
          (click)="isSuccess = false"
          class="ms-auto text-slate-300 hover:text-slate-900 transition-colors"
        >
          <i class="fa-solid fa-xmark text-sm"></i>
        </button>

        <div
          class="absolute bottom-0 left-0 h-1 bg-green-500/30 w-full rounded-b-2xl overflow-hidden"
        >
          <div class="h-full bg-green-500 animate-progressIndicator"></div>
        </div>
      </div>
    }
  </div>
</section>
